body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.tasks-show-complete {
    background-image: url('images/show_complete.png') !important;;
}